#app4 {
}
#app4 .circle {
  border: 1px solid black;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
}
@keyframes change {
  0% {
    background: red;
  }
  100% {
    background: blue;
  }
}
#app4 .circle.active {
  animation: change 2s infinite linear alternate-reverse;
}
